<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Accesibilidad</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button [routerLink]="['../calendar-page.page.html']">
      Sign Up!
  </ion-button>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> </ion-content>
</div>






<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>LoginPage</ion-title>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid></ion-grid>
    <ion-col>
      <ion-input>Usuario</ion-input>
    </ion-col>
    <ion-col>
      <ion-input>Contraseña</ion-input>
    </ion-col>
    <ion-col>
      <ion-button>Iniciar sesión</ion-button>
    </ion-col>
    
</ion-content>
